body {
  background-image: url(https://images.hindustantimes.com/img/2023/01/06/1600x900/Get-to-gym-at-least-three-times-a-week--Consistenc_1673024767093.jpg);
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}
.title{
  font-family: 'Times New Roman', Times, serif;
}

.form-container {
  
  margin: auto;
  box-shadow: 0 0 20px 0 rgba(230, 10, 10, 0.2), 0 5px 5px 0 rgba(239, 5, 5, 0.24);
  padding: 10px;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
}

.success-message {
  font-family: 'Times New Roman', Times, serif;
  background-color: yellow;
  padding: 50px;
  color: black;
  text-align: center;
}

.form-field {
  margin: 10px 0 10px 0;
  padding: 15px;
  font-size: 16px;
  border: 0;
  font-family: 'Times New Roman', Times, serif;
}
th {
  background-color: black;
  color: white;
}
span {
  font-family: 'Times New Roman', Times, serif;
  font-size: 14px;
  color: red;
  margin-bottom: 15px;
}

input {
  background: #f2f2f2;
}

.error {
  border-style: solid;
  border: 2px solid #fa3a3a;
}

button {
  background: green;
  color: white;
  cursor: pointer;
}

button:disabled {
  cursor: default;
}